<h1>All Users</h1>

<table class="table table-hover">
  <thead>
  <tr>
    <th>#</th>
    <th>Sign in date</th>
    <th>Sign in count</th>
    <th>IP</th>
    <th>Email</th>
    <th>Strategy</th>
    <th>Ratings</th>
    <th colspan="6"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each.with_index(1) do |user, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= user.current_sign_in_at.to_formatted_s(:long) %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= user.current_sign_in_ip %></td>
        <td><%= user.email %></td>
        <td><%= user.strategy.capitalize %></td>
        <td><%= user.ratings.count %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
