<h3>User</h3>

<p>Email: <%= current_user.email %></p>
<p>Email: <%= @user.email if @user.email %></p>


<%= form_with(model: @user, local: true) do |form| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= form.label :strategy %>
      <%= form.select :strategy, { 'random' => 'random', 'str1' => 'strategy1' } %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
