<%= link_to 'Generate a random quote!', root_path, class: 'btn btn-outline-info' %>

<p></p>

<div class="card">
  <div class="card-header">
    <%= @quote.categories.map {|cat| cat.name}.join(', ') if @quote %>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @quote.text if @quote %></p>
      <footer class="blockquote-footer">
        <cite title="Source Title"><%= @quote.author if @quote %></cite>
        <cite title="Ratings"><%= @quote.ratings.map {|rat| rat.user_rating}.join(', ') if  @quote.ratings %>
        </cite>
        <div id="user_star"></div>
      </footer>
    </blockquote>
  </div>
</div>

<script>
    $('#user_star').raty({
        path: '/assets',
        click: function (user_rating, evt) {
            $.ajax({
                url: '/ratings/' + <%= @quote.id %>,
                type: 'PATCH',
                data: {user_rating: user_rating }
            });
        }
    });
</script>
