<p></p>

<div class="card">
  <div class="card-header">
    <%= @quote.categories.map {|cat| cat.name}.join(', ') if @quote %>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= @quote.text if @quote %></p>
      <footer class="blockquote-footer">
        <cite title="Source Title"><%= @quote.author if @quote %></cite>
      </footer>
      <p>
      <div id="user_star"></div>
      </p>
    </blockquote>
  </div>
</div>

<p></p>

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group mr-2" role="group" aria-label="First group">
    <%= button_to 'Show next quote', root_path, method: :get, class: 'btn btn-outline-info' %>
  </div>

  <% if !current_user.nil? && ( current_user.content_based_category? || current_user.content_based_quote_analysis? || current_user.content_based_mixed? )%>
    <div class="btn-group mr-2" role="group" aria-label="Second group">
      <%= button_to 'Show something different', root_path, method: :get, params: {different: true}, class: 'btn btn-outline-info' %>
    </div>
  <% end %>
</div>

<script>
    $('#user_star').raty({
//        path: '/assets',
        starOff: '<%= asset_path('star-off.png') %>',
        starOn: '<%= asset_path('star-on.png') %>',
        // rating range [-2, 2]
        // increment/decrement by 3 to put it on a scale of [1, 5]
        score: <%= @rating.user_rating + 3 %>,
        click: function (user_rating, evt) {
            $.ajax({
                url: '/ratings/' + <%= @quote.id %>,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
                },
                type: 'PATCH',
                data: {user_rating: user_rating - 3}
            });
        }
    });
</script>
