<h2 class="text-center">Select initial quote category</h2>
</p>
<%= button_to @categories[0].name, home_index_path, method: :get, params: {category: @categories[0].id}, class: 'btn btn-primary btn-lg btn-block' %>
<p></p>
<%= button_to @categories[1].name, home_index_path, method: :get, params: {category: @categories[1].id}, class: 'btn btn-secondary btn-lg btn-block' %>
<p></p>
<%= button_to @categories[2].name, home_index_path, method: :get, params: {category: @categories[2].id}, class: 'btn btn-success btn-lg btn-block' %>
<p></p>
<%= button_to @categories[3].name, home_index_path, method: :get, params: {category: @categories[3].id}, class: 'btn btn-danger btn-lg btn-block' %>
<p></p>
<%= button_to @categories[4].name, home_index_path, method: :get, params: {category: @categories[4].id}, class: 'btn btn-info btn-lg btn-block' %>
<p></p>
<%= button_to @categories[5].name, home_index_path, method: :get, params: {category: @categories[5].id}, class: 'btn btn-dark btn-lg btn-block' %>
