<h2 class="text-center">Select initial quote category</h2>
<p></p>
<div class="container">
  <div class="row">
    <div class="col-sm-3 panel">
      <%= button_to home_index_path, method: :get, params: {category: @categories[0].id}, class: 'category_btn' do %>
          <div class="tile btn-outline-info">
            <h3 class="title"><%= @categories[0].name %></h3>
            <p><%= @categories[0].quotes.size %> quotes in this category </p>
          </div>
      <% end %>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-sm-3 panel">
      <%= button_to home_index_path, method: :get, params: {category: @categories[1].id}, class: 'category_btn' do %>
          <div class="tile btn-outline-info">
            <h3 class="title"><%= @categories[1].name %></h3>
            <p><%= @categories[1].quotes.size %> quotes in this category </p>
          </div>
      <% end %>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-sm-3 panel">
      <%= button_to home_index_path, method: :get, params: {category: @categories[2].id}, class: 'category_btn' do %>
          <div class="tile btn-outline-info">
            <h3 class="title"><%= @categories[2].name %></h3>
            <p><%= @categories[2].quotes.size %> quotes in this category </p>
          </div>
      <% end %>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-sm-3 panel">
      <%= button_to home_index_path, method: :get, params: {category: @categories[3].id}, class: 'category_btn' do %>
          <div class="tile btn-outline-info">
            <h3 class="title"><%= @categories[3].name %></h3>
            <p><%= @categories[3].quotes.size %> quotes in this category </p>
          </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3 panel">
      <%= button_to home_index_path, method: :get, params: {category: @categories[4].id}, class: 'category_btn' do %>
          <div class="tile btn-outline-info">
            <h3 class="title"><%= @categories[4].name %></h3>
            <p><%= @categories[4].quotes.size %> quotes in this category </p>
          </div>
      <% end %>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-sm-3 panel">
      <%= button_to home_index_path, method: :get, params: {category: @categories[5].id}, class: 'category_btn' do %>
          <div class="tile btn-outline-info">
            <h3 class="title"><%= @categories[5].name %></h3>
            <p><%= @categories[5].quotes.size %> quotes in this category </p>
          </div>
      <% end %>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-sm-3 panel">
      <%= button_to home_index_path, method: :get, params: {category: @categories[6].id}, class: 'category_btn' do %>
          <div class="tile btn-outline-info">
            <h3 class="title"><%= @categories[6].name %></h3>
            <p><%= @categories[6].quotes.size %> quotes in this category </p>
          </div>
      <% end %>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-sm-3 panel">
      <%= button_to home_index_path, method: :get, params: {category: @categories[7].id}, class: 'category_btn' do %>
          <div class="tile btn-outline-info">
            <h3 class="title"><%= @categories[7].name %></h3>
            <p><%= @categories[7].quotes.size %> quotes in this category </p>
          </div>
      <% end %>
    </div>
  </div>
</div>
