<p></p>
<%= button_to @category1.name, home_index_path, method: :get, params: {category: @category1.id}, class: 'btn btn-primary btn-lg btn-block' %>
<p></p>
<%= button_to @category2.name, home_index_path, method: :get, params: {category: @category2.id}, class: 'btn btn-secondary btn-lg btn-block' %>
<p></p>
<%= button_to @category3.name, home_index_path, method: :get, params: {category: @category3.id}, class: 'btn btn-success btn-lg btn-block' %>
<p></p>
<%= button_to @category4.name, home_index_path, method: :get, params: {category: @category4.id}, class: 'btn btn-danger btn-lg btn-block' %>
<p></p>
<%= button_to @category5.name, home_index_path, method: :get, params: {category: @category5.id}, class: 'btn btn-info btn-lg btn-block' %>
<p></p>
<%= button_to @category6.name, home_index_path, method: :get, params: {category: @category6.id}, class: 'btn btn-dark btn-lg btn-block' %>
