<% if user_signed_in? %>
  <% if current_user.has_role? :admin %>
    <li class="nav-item">
      <a class="nav-link" href=<%= users_path %>>Users</a>
    </li>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><strong><%= current_user.email %></strong> </a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
      <a class="dropdown-item" href=<%= user_path(current_user) %>>My profile</a>
      <a class="dropdown-item" href=<%= edit_user_registration_path %>>Edit profile</a>
      <a class="dropdown-item" href=<%= destroy_user_session_path %> data-method="delete">Logout</a>
    </div>
  </li>
<% else %>
  <li  class="nav-item">
    <a class="nav-link" href=<%= user_facebook_omniauth_authorize_path %>>Sign in with Facebook</a>
  </li>
  <li  class="nav-item">
    <a class="nav-link" href=<%= user_google_oauth2_omniauth_authorize_path %>>Sign in with Google</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=<%= new_user_registration_path %>>Sign up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href=<%= new_user_session_path %>>Login</a>
  </li>
<% end %>
