<!DOCTYPE html>
<html>
  <head>
    <title>Quotes Recommender</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/navigation' %>

    <div class="container-fluid">
      <% flash.each do |key, value| %>
          <% if key == "notice" %>
            <% key = "info" %>
          <% end %>
          <div class="alert alert-<%= key %> alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <%= value %>
          </div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
